/* GLOBAL STYLES */
html {
    padding: 0 30px;
    box-shadow: 0 0 0 30px black inset;
}
body {
    display: flex;
    flex-direction: column;
    font-family: helvetica, arial, sans;
    min-height: 100vh;
}
.content-container {
    flex: 1 1 auto;
    display: flex;
    padding-top: 10vh;
    width: 100%;
}
h1 {
    font-size: 7vw;
    margin-top: 0;
}
a {
    color: #6397b5;
}
p {
    line-height: 1.5;
    margin: 0.75em 0;
}
h2 {
    font-size: 2em;
}
h2 ~ p {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}
h4 {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
}

/* HEADER STYLES */
.header {
    color: white;
    background-color: black;
    min-height: 10vh;

    position: fixed;
    width: 100%;
    z-index: 20;
}
.header-nav {
    float: right;
    padding: 5.5vh 60px 0 0;
}
.header-nav > li {
    display: inline-block;
    margin-left: 1em;
}
.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    padding-left: 1em;
}
.header-nav > li:first-child a {
    color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
    color: white;
}
.header-nav a,
.drop-trigger {
    color: white;
}
.nav-links a,
.drop-trigger {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active  {
    color: #ed6e2f;
}
.header-logo {
    display: block;
    height: 10vh;
    width:  10vh;
    background-color: black;

    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;

    position: relative;
    left: -30px;
}
.header-logo:hover,
.header-logo:active {
    background-color: #ed6e2f;
}
.header-logo img {
    height: 90%;
}

/* DROPDOWN STYLING */
.dropdown {
    position: relative;
}
.drop-trigger {
    display: inline-block;
    padding-right: 1.5em;
    position: relative;
}
.drop-trigger:after {
    border: 0.3em solid;
    border-color: white transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0.3em;
    width: 0;
}
.drop-menu {
    display: none;
    list-style: none;
    padding: 1em 0 0;
    position: absolute;
    right: 0;
    z-index: 9;
}
.drop-menu li {
    background-color: white;
}
.drop-menu a {
    color: #333;
    display: block;
}
.drop-menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: none;
    list-style: none;
    padding: 1em 0 0;
    position: absolute;
    right: 0;
    z-index: 9;
}
.drop-menu:before {
    border: 0.6em solid;
    border-color: transparent transparent white;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: -0.1em;
    width: 0;
}
.drop-menu li {
    background-color: white;
}
.drop-menu li ~ li {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
.drop-menu li:first-child {
    border-radius: 5px 5px 0 0;
    color: grey;
    font-size: 0.6667em;
    padding: 1em 1em 0.25em;
    text-align: right;
    text-transform: uppercase;
}
.drop-menu li:last-child {
    border-radius: 0 0 5px 5px;
}
.drop-menu a {
    color: #333;
    display: block;
    font-weight: normal;
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
}
.drop-menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
}
.dropdown:hover .drop-trigger:after {
    border-color: #ed6e2f transparent transparent;
}

/* SHOW THE DROPDOWN */
.dropdown:hover .drop-menu {
    display: block;
}

/* HIDE IN THE FOOTER */
.footer .dropdown:hover .drop-menu,
.footer .drop-trigger:after {
    display: none;
}
.footer .drop-trigger {
    padding-right: 0;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
    display: none;
}

/* FOOTER STYLES */
.footer {
    background-color: black;
    padding: 10vh 0 15vh;
    text-align: center;
}
.footer-logo img {
    width: 50px;
}
.footer h3 {
    color: white;
    padding-top: 1.5em;
    text-transform: uppercase;
}
.footer h3 span {
    color: rgba(255, 255, 255, 0.7);
}
.footer-nav li {
    display: inline-block;
    margin: 2em 1em 0;
}
.footer-nav a {
    color: rgba(255, 255, 255, 0.9);
}

/* SOCIAL STYLES */
.social-list {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.social-list > li {
    display: inline-block;
    margin: 0 .5em;
}
.social-link {
    color: white;
    background: rgba(150, 150, 150, 0.5);
    display: inline-block;
    height: 1.5em;
    width:  1.5em;

    border-radius: 99px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;

    box-sizing: border-box;
    padding-top: 0.25em;

    font-family: helvetica, arial, sans;
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
}

/* HERO STYLES */
.full-hero {
    background-color: #c7dbfc;
    background-size: cover;
    box-sizing: border-box;
    height: 90vh;
}
.full-hero:after {
    color: white;
    font-size: 36px;
    content: "﹀";

    position: absolute;
    bottom: 2vh;
    left:   50%;
    transform: translate(-50%, 0);
}
.hero-home {
    background-image: url(/images/shark.jpg);
    background-position: center top;
}
.hero-content {
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    text-transform: uppercase;
}
.hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7vw;
    margin-bottom: 0.25em;
}
.hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.8);
    color: #557c83;
}
.hero-content .social-link:hover {
    background-color: black;
    color: white;
}
.half-hero {
    background-position: center center;
    background-size: cover;
    height: 45vh;
}

/* HOME STYLES */
.home-callout {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 7vh 0;
}
.callout-title {
    flex: 1;
    font-size: 5.75vw;
    text-align: right;
    text-transform: uppercase;
}
.callout-copy {
    flex: 0 0 50%;
    max-width: 600px;
    padding: 0 3vw;
    font-size: 0.8rem;
}
.home-section {
    margin: 6rem auto;
    max-width: 980px;
    width: 90vw;
}
.home-section h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.home-section h4 {
    margin-bottom: 0.5em;
    text-align: center;
}
.home-section .post-header {
    text-align: center;
}
.home-section .blog-posts {
    width: 75%;
    margin: auto;
}

/* BIO STYLES */
.bio-wrapper {
    font-size: 1rem;
    margin: 0 auto 40px;
    max-width: 960px;
    overflow: hidden;
}
.bio-box {
    box-sizing: border-box;
    font-size: 1rem;
    margin: 6rem 0 0;
    padding: 0 3%;
    width: 33%;
    float: left;
}
.bio-box img {
    width: 100%;
}
.bio-box h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: -40px 0 1em;
    text-align: center;
    color: white;
}
.bio-box .social-link {
    display: block;
    margin: 2em auto 1em;
}
.bio-copy {
    font-size: 0.75em;
}

/* COLUMN STYLES */
.col-three {
    flex: 1;
    display: flex;
}
.col {
    box-sizing: border-box;
    padding: 2em;
}
.col-three .col ~ .col {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.col-three .col-nav {
    flex: 0 1 15em;
    overflow: auto;
    height: 90vh;
}
.col-three .col-content {
    flex: 1;
    overflow: auto;
    height: 90vh;
}
.col-three .col-aside {
    flex: 0 1 20em
}
.col-two {
    display: flex;
}
.col-two .col-content {
    flex: 1;
}
.col-two .col-aside {
    flex: 0 0 20em;
    order: 1;
}

/* GALLERY STYLES */
.gallery-thumbs {

}
.gallery-thumbs > div {
    cursor: pointer;
}
.gallery-thumbs img {
    display: inline-block;

    width: 100%;
    margin-bottom: 1em;

    box-shadow: 0 0 0 5px transparent;
    opacity: 0.5;
    transition: all 500ms ease-in-out;
}
.gallery-thumbs img:hover {
    opacity: 1;
}
.gallery-thumbs .current img {
    box-shadow: 0 0 0 5px #ed6e2f;
    opacity: 1;
}
.gallery-photo {
    position: relative;
}
.gallery-photo img {
    width: 100%;
}
.gallery-info p {
    font-size: 0.8rem;
}
.gallery-info h3 {
    margin-bottom: 1em;
}

/* PAGE STYLES */
.page {
    margin: 10vh auto 15vh;
    max-width: 980px;
    width: 85vw;
}
.page h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}
.page h2 {
    margin-bottom: 0.5em;
}
.page h4 {
    margin-bottom: 1em;
}

/* BLOG STYLES */
.blog-recent {
    text-align: right;
}
.blog-title-list {
    list-style: none;
    padding: 0;
}
.blog-title-list li ~ li {
    margin-top: 1.5em;
}
.blog-title-list span {
    color: grey;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.5em;
}
.blog-posts ~ .blog-posts {
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-top: 4em;
    padding-top: 4em;
}
.blog-posts .post-header {
    font-size: 0.8rem;
}
.post-header {
    margin-bottom: 1.5em;
}
.post-header img,
.post-header .social-link {
    margin-right: 0.5em;
}
.post-header img {
    border-radius: 99px;
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
}
.posts-image {
    background-position: center;
    background-size: cover;
    height: 6em;
    margin-bottom: 1.5em;
}
.post {
    width: 100%;
}
.post .post-content,
.post-footer {
    margin: auto;
    max-width: 40em;
    width: 85vw;
}
.pull-left {
    float: left;
    margin: 2em 2em 2em -2%;
}
.pull-right {
    float: right;
    margin: 2em -2% 2em 2em
}
.post-aside {
    background-color: rgba(0, 0, 0, 0.01);
    float: right;
    margin: 0 0 2em 2em;
    padding: 2em;
}
.post .post-header {
    margin-bottom: 2.5em;
    text-align: center;
}
.post .post-content {
    font-size: 1.1rem;
}
.post-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-style: italic;
    margin-top: 3em;
    padding-top: 2em;
}
.post-footer p {
    font-size: 0.8em;
}

/* MEDIA-QUERIES */
@media (max-width: 800px) {

    /* GLOBAL STYLES */
    html {
        padding: 0;
        box-shadow: none;
    }

    /* HEADER STYLES */
    .header-nav {
        background-color: #444;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 0;
        padding: 0;
        text-align: center;
        transition: all 0.5s ease-in-out;
        width: 100vw;
        z-index: 9;
    }
    .header-nav > li {
        display: block;
        margin: 0;
        margin-top: 1em;
    }
    .header-nav > li:first-child a {
        color: white;
    }
    .header-nav > li:first-child a:hover {
        color: #ed6e2f;
    }
    .header-nav > li ~ li {
        border: none;
        padding: 0;
    }
    .header-nav > li:last-child {
        margin-bottom: 1em;
    }
    .header-nav .dropdown:hover .drop-menu,
    .header-nav .drop-trigger:after,
    .header-nav .drop-menu:after {
        display: none;
    }
    .header-nav .drop-trigger {
        padding-right: 0;
    }
    .header-logo {
        left: auto;
    }

    /* MOBILE MENU */
    .show-mobile-menu {
        display: block;
        float:   right;
        margin-top: 1.5vh;
        padding: 1.5em;
        text-transform: uppercase;
        position: relative;
    }
    .mobile-menu-check:checked ~ .show-mobile-menu:after {
        background-color: black;
        color: #ed6e2f;
        content: "CLOSE";
        left: 0;
        position: absolute;
        top: 1.5em;
        width: 100%;
        text-align: center;
    }
    .mobile-menu-check:checked ~ .header-nav {
        max-height: 9em;
    }

    /* FOOTER STYLES */
    .footer-nav li {
        display: inline-block;
        margin: 2em 0.5em 0;
    }

    /* HERO STYLES */
    .half-hero {
        display: none;
    }

    /* HOME STYLES */
    .home-callout {
        flex-direction: column;
        padding: 15vh 5vw;
    }
    .callout-title {
        text-align: left;
    }
    .callout-copy {
        padding: 0 5vw;
    }
    .home-section .blog-posts {
        font-size: 1rem;
        width: 85vw;
    }

    /* BIO STYLES */
    .bio-box {
        float: none;
        width: auto;
    }

    /* COLUMN STYLES (GALLERY ONLY) */
    .gallery .col {
        padding: 1em;
    }
    .gallery .col-nav {
        flex: 0 1 auto;
        overflow: auto;
        height: auto;

        white-space: nowrap;
        width: 100vw;
    }
    .gallery .col-content {
        flex: 0 1 auto;
        overflow: visible;
        height: auto;
    }
    .gallery .col-aside {
        flex: 0 1 auto;
    }

    /* GALLERY STYLES */
    .gallery {
        flex-direction: column;
        height: 90vh;
    }
    .gallery-thumbs > div {
        display: inline-block;
    }
    .gallery-thumbs img {
        height: 7vh;
        margin: 0 10px 0 0;
        width: auto;
    }

    /* BLOG STYLES */
    .blog-recent {
        display: none;
    }
    .blog-previews {
        padding: 0;
    }
    .blog-previews .post-header h2 {
        text-align: center;
    }
    .pull-left {
        width: 100%;
    }
    .post-aside {
        display: none;
    }
    .post .post-header h1 {
        font-size: 1.5rem;
        text-align: left;
    }
    .post .post-content {
        font-size: 1rem;
    }
    .post .post-footer {
        font-size: 0.8rem;
    }

}

